<section class="what-we-do">
    <section class="wrapper">
        <h2 class="what-we-do__title text-center h2-title">What <span class="pink-color">we</span> do</h2>
        <div class="what-we-do__description">
            Sed ut <span class="pink-color">perspiciatis unde omnis</span> iste natus error sit voluptatem accusantium
            doloremque totam rem aperiam, eaque ipsa
            quae ab illo <span class="pink-color">inventore veritatis</span> et quasi architecto beat dicta sunt
            explicabo. Nemo enim ipsam voluptatem quia.
            sit amet turpis ut purus <span class="pink-color">pellentesque</span> ullamcorper sed ut nisl.
        </div>

        <ul class="what-we-do__skills">
            <li class="what-we-do__skill-item">
                <div class="what-we-do__skill-item-content">
                    <div class="what-we-do__skill-item_value">534</div>
                    Project works
                </div>
            </li>
            <li class="what-we-do__skill-item">
                <div class="what-we-do__skill-item-content">
                    <div class="what-we-do__skill-item_value">921</div>
                    Facebook likes
                </div>
            </li>
            <li class="what-we-do__skill-item">
                <div class="what-we-do__skill-item-content">
                    <div class="what-we-do__skill-item_value">426</div>
                    Tutorials create
                </div>
            </li>
            <li class="what-we-do__skill-item">
                <div class="what-we-do__skill-item-content">
                    <div class="what-we-do__skill-item_value">159</div>
                    Coffees made
                </div>
            </li>
        </ul>
    </section>
</section>