<section class="companies">
    <div class="section-wrapper companies-wrapper">
        <div class="companies-slider carousel" id="carousel2">
            <div class="carousel__inner">
                <ul class="carousel__list">
                    <li class="carousel__item companies__item"><img src="static/img/content/logo-1-min.png" alt="" class="companies__image"></li>
                    <li class="carousel__item companies__item"><img src="static/img/content/logo-2-min.png" alt="" class="companies__image"></li>
                    <li class="carousel__item companies__item"><img src="static/img/content/logo-3-min.png" alt="" class="companies__image"></li>
                    <li class="carousel__item companies__item"><img src="static/img/content/logo-4-min.png" alt="" class="companies__image"></li>
                    <li class="carousel__item companies__item"><img src="static/img/content/logo-1-min.png" alt="" class="companies__image"></li>
                    <li class="carousel__item companies__item"><img src="static/img/content/logo-2-min.png" alt="" class="companies__image"></li>
                    <li class="carousel__item companies__item"><img src="static/img/content/logo-3-min.png" alt="" class="companies__image"></li>
                    <li class="carousel__item companies__item"><img src="static/img/content/logo-4-min.png" alt="" class="companies__image"></li>
                </ul>
            </div>
        </div>
    </div>
</section>