<section class="portfolio">
    <div class="portfolio__grid">
        <h2 class="our-skills__title h2-title text-center">Our <span class="pink-color">latest</span> projects</h2>
        <div class="grid-sizer"></div>
        <img src="static/img/content/project-1-min.jpg" alt="" class="portfolio__image">
        <img src="static/img/content/project-2-min.jpg" alt="" class="portfolio__image">
        <img src="static/img/content/project-3-min.jpg" alt="" class="portfolio__image">
        <img src="static/img/content/project-4-min.jpg" alt="" class="portfolio__image">
        <img src="static/img/content/project-5-min.jpg" alt="" class="portfolio__image">
        <img src="static/img/content/project-6-min.jpg" alt="" class="portfolio__image">
        <img src="static/img/content/project-7-min.jpg" alt="" class="portfolio__image">
        <img src="static/img/content/project-8-min.jpg" alt="" class="portfolio__image">
        <img src="static/img/content/project-1-min.jpg" alt="" class="portfolio__image">
        <img src="static/img/content/project-2-min.jpg" alt="" class="portfolio__image">
        <img src="static/img/content/project-3-min.jpg" alt="" class="portfolio__image">
        <img src="static/img/content/project-4-min.jpg" alt="" class="portfolio__image">
        <img src="static/img/content/project-5-min.jpg" alt="" class="portfolio__image">
        <img src="static/img/content/project-6-min.jpg" alt="" class="portfolio__image">
        <img src="static/img/content/project-7-min.jpg" alt="" class="portfolio__image">
        <img src="static/img/content/project-8-min.jpg" alt="" class="portfolio__image">
        <img src="static/img/content/project-1-min.jpg" alt="" class="portfolio__image">
        <img src="static/img/content/project-2-min.jpg" alt="" class="portfolio__image">
    </div>
</section>
