// Common styles of the project

html, body {
    height: 100%;
    background-color: $bg-color;
    font-size: $font-size;
    font-family: 'HomizioNova-regular';
    letter-spacing: $letter-spacing;
    color: $text-color;
}

// Элементы

.page__wrapper {
    min-height: 100%;
    width: $container-width;
    margin: 0 auto;
}

* html .page__wrapper {
    height: 100%;
}

.page__buffer {
    height: 50px;
}

.h2-title {
    font-size: $title-font-size;
}

.wrapper{
    width: 910px;
    height: auto;
    margin: 0 auto;
    padding: 95px 0 135px;
}

.ml40{
    margin-left: 40px;
}



// Цвета

.pink-color {
    color: $pink-color;
}
.odd {
    background-color: $odd-color;
}
.even {
    background-color: $even-color;
}

// Позиционирование

.text-center {
    text-align: center;
}
.section-wrapper {
    width: $container-width;
    margin: 0 auto;
}

/*
    SVG иконки
*/

// Розовые иконки

.icon-pink-bell,.icon-pink-bell\:regular{background-image:url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2240%22%20viewBox%3D%220%200%2040%2048%22%20height%3D%2248%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%20%7B%20%20%20%20%20%20%20%20fill%3A%20%23e83a93%3B%20%20%20%20%20%20%20%20fill-rule%3A%20evenodd%3B%20%20%20%20%20%20%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cpath%20id%3D%22bell-BELL%22%20d%3D%22m36.861%2039.431h-34.289a2.572%202.572%200%200%201%200%20-5.144%202.572%202.572%200%200%200%202.572%20-2.572v-17.143a12%2012%200%200%201%2012%20-12%202.572%202.572%200%201%201%205.143%200%2012%2012%200%200%201%2012%2012v17.143a2.572%202.572%200%200%200%202.572%202.572%202.572%202.572%200%200%201%200.002%205.144zm-17.145%207.715a5.143%205.143%200%200%201%20-5.143%20-5.146h10.287a5.143%205.143%200%200%201%20-5.144%205.146z%22%20class%3D%22cls-1%22%2F%3E%3C%2Fsvg%3E');background-repeat:no-repeat}
.icon-pink-bell-dims{width:40px;height:48px}
.icon-pink-cloud,.icon-pink-cloud\:regular{background-image:url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2260%22%20viewBox%3D%220%200%2060%2042%22%20height%3D%2242%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%20%7B%20%20%20%20%20%20%20%20fill%3A%20%23e83a93%3B%20%20%20%20%20%20%20%20fill-rule%3A%20evenodd%3B%20%20%20%20%20%20%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cpath%20id%3D%22cloud-CLOUD%22%20d%3D%22m45.816%2041.139h-31.791a14.025%2014.025%200%200%201%20-4.101%20-27.439%2021.441%2021.441%200%200%201%2039.994%200%2014.025%2014.025%200%200%201%20-4.102%2027.439zm5.576-20.316c-0.179-0.159-0.366-0.309-0.558-0.454l-0.034-0.027c-0.182-0.134-0.369-0.259-0.561-0.38l-0.09-0.056c-0.179-0.107-0.363-0.209-0.55-0.3-0.051-0.027-0.1-0.05-0.156-0.076q-0.258-0.125-0.525-0.233c-0.078-0.032-0.157-0.056-0.236-0.085-0.16-0.06-0.321-0.116-0.485-0.164-0.109-0.033-0.22-0.058-0.331-0.086-0.142-0.035-0.283-0.073-0.428-0.1s-0.306-0.05-0.461-0.072c-0.111-0.014-0.22-0.035-0.333-0.046a8.117%208.117%200%200%200%20-0.825%20-0.044c-0.088%200-0.173%200.012-0.26%200.015-0.085-0.479-0.193-0.952-0.32-1.414-0.031-0.113-0.073-0.222-0.106-0.334-0.1-0.352-0.212-0.7-0.34-1.039-0.038-0.1-0.086-0.2-0.127-0.3-0.138-0.346-0.281-0.689-0.442-1.023-0.039-0.08-0.084-0.156-0.124-0.236-0.176-0.348-0.359-0.692-0.56-1.026a15.858%2015.858%200%200%200%20-27.232%200c-0.2%200.334-0.384%200.679-0.56%201.026-0.04%200.08-0.085%200.156-0.124%200.236-0.161%200.334-0.3%200.678-0.442%201.023-0.041%200.1-0.088%200.2-0.127%200.3-0.128%200.339-0.236%200.687-0.34%201.039-0.033%200.112-0.075%200.221-0.106%200.334-0.127%200.462-0.235%200.935-0.32%201.414-0.087%200-0.172-0.015-0.26-0.015a8.122%208.122%200%200%200%20-0.825%200.044c-0.112%200.011-0.222%200.032-0.333%200.046-0.154%200.021-0.309%200.041-0.461%200.072s-0.286%200.065-0.428%200.1c-0.111%200.029-0.222%200.053-0.331%200.086-0.164%200.048-0.325%200.1-0.485%200.164-0.079%200.029-0.158%200.053-0.235%200.085-0.178%200.072-0.353%200.149-0.525%200.233-0.052%200.026-0.1%200.049-0.156%200.076-0.187%200.094-0.371%200.2-0.55%200.3l-0.09%200.056c-0.192%200.12-0.38%200.245-0.562%200.38l-0.037%200.028c-0.193%200.144-0.379%200.294-0.559%200.454a8.407%208.407%200%200%200%205.576%2014.705h31.788a8.406%208.406%200%200%200%205.575%20-14.706z%22%20class%3D%22cls-1%22%2F%3E%3C%2Fsvg%3E');background-repeat:no-repeat}
.icon-pink-cloud-dims{width:60px;height:42px}
.icon-pink-code,.icon-pink-code\:regular{background-image:url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2259%22%20viewBox%3D%220%200%2059%2045%22%20height%3D%2245%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%20%7B%20%20%20%20%20%20%20%20fill%3A%20%23e83a93%3B%20%20%20%20%20%20%20%20fill-rule%3A%20evenodd%3B%20%20%20%20%20%20%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cpath%20id%3D%22code-CODE%22%20d%3D%22m58.072%2024.055l-11.038%2011.045a2.757%202.757%200%200%201%20-3.9%20-3.9l9.1-9.105-9.074-9.073a2.756%202.756%200%201%201%203.9%20-3.9l10.883%2010.878a2.735%202.735%200%200%201%200.129%204.055zm-33.394%2018.282a2.76%202.76%200%201%201%20-5.178%20-1.927l14.7-38.589a2.761%202.761%200%201%201%205.173%201.928zm-8.926-29.318l-9.074%209.073%209.1%209.105a2.757%202.757%200%200%201%20-3.9%203.9l-11.041-11.038a2.735%202.735%200%200%201%200.132%20-4.059l10.88-10.88a2.756%202.756%200%201%201%203.9%203.9z%22%20class%3D%22cls-1%22%2F%3E%3C%2Fsvg%3E');background-repeat:no-repeat}
.icon-pink-code-dims{width:59px;height:45px}
.icon-pink-line-graphic,.icon-pink-line-graphic\:regular{background-image:url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2252%22%20viewBox%3D%220%200%2052%2044%22%20height%3D%2244%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%20%7B%20%20%20%20%20%20%20%20fill%3A%20%23e83a93%3B%20%20%20%20%20%20%20%20fill-rule%3A%20evenodd%3B%20%20%20%20%20%20%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cpath%20id%3D%22line-graphic-LINE_GRAPH%22%20d%3D%22m50.087%2015.363l-0.023%200.016-20.423%2014.139a2.352%202.352%200%200%201%20-2.65%200.023l-0.008-0.006-10.559-7.035-10.931%206.428v9.659h43.252a2.36%202.36%200%200%201%200%204.72h-45.611a2.36%202.36%200%200%201%20-2.359%20-2.359v-37.748a2.359%202.359%200%200%201%204.718%200v20.253l9.813-5.773v0.01a2.322%202.322%200%200%201%202.5%200.062l0.008%200.005%2010.45%206.968%2019.136-13.241a2.357%202.357%200%201%201%202.683%203.876z%22%20class%3D%22cls-1%22%20data-name%3D%22LINE%20GRAPH%22%2F%3E%3C%2Fsvg%3E');background-repeat:no-repeat}
.icon-pink-line-graphic-dims{width:52px;height:44px}
.icon-pink-pin,.icon-pink-pin\:regular{background-image:url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2242%22%20viewBox%3D%220%200%2042%2056%22%20height%3D%2256%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%20%7B%20%20%20%20%20%20%20%20fill%3A%20%23e83a93%3B%20%20%20%20%20%20%20%20fill-rule%3A%20evenodd%3B%20%20%20%20%20%20%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cpath%20id%3D%22pin-PIN_1%22%20d%3D%22m20.76%2055.359s-20.76-23.136-20.76-34.6a20.76%2020.76%200%200%201%2041.52%200c0%2011.464-20.76%2034.6-20.76%2034.6zm0-48.439a13.84%2013.84%200%201%200%2013.84%2013.839%2013.84%2013.84%200%200%200%20-13.84%20-13.839z%22%20class%3D%22cls-1%22%20data-name%3D%22PIN%201%22%2F%3E%3C%2Fsvg%3E');background-repeat:no-repeat}
.icon-pink-pin-dims{width:42px;height:56px}
.icon-pink-view,.icon-pink-view\:regular{background-image:url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2259%22%20viewBox%3D%220%200%2059%2034%22%20height%3D%2234%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%20%7B%20%20%20%20%20%20%20%20fill%3A%20%23e83a93%3B%20%20%20%20%20%20%20%20fill-rule%3A%20evenodd%3B%20%20%20%20%20%20%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cpath%20id%3D%22view-VIEW%22%20d%3D%22m58.164%2016.92c0%200.026%200%200.049-0.005%200.074v0.036c0%200.018%200%200.036-0.007%200.052s0%200.042-0.008%200.064a0.016%200.016%200%200%200%200%200.006%202.25%202.25%200%200%201%20-0.608%201.224c-0.61%200.739-1.277%201.434-1.947%202.117a50.3%2050.3%200%200%201%20-12.336%209.342%2032.942%2032.942%200%200%201%20-9.253%203.34%2026.855%2026.855%200%200%201%20-10.623%20-0.151c-6.1-1.328-11.631-4.623-16.466-8.564a44.842%2044.842%200%200%201%20-6.303%20-6.083%202.322%202.322%200%200%201%200%20-3.136c0.61-0.739%201.277-1.434%201.947-2.115a50.3%2050.3%200%200%201%2012.337%20-9.344%2032.955%2032.955%200%200%201%209.243%20-3.337%2026.793%2026.793%200%200%201%2010.622%200.155c6.1%201.326%2011.631%204.624%2016.466%208.565a44.758%2044.758%200%200%201%206.307%206.082%202.249%202.249%200%200%201%200.608%201.225%200.033%200.033%200%200%200%200%200.006c0%200.02%200.005%200.041%200.008%200.061s0.006%200.036%200.007%200.054v0.036c0%200.024%200%200.049%200.005%200.075s0%200.072%200%200.11%200.007%200.07%200.006%200.106zm-29.081-11.472a10.906%2010.906%200%201%200%2010.906%2010.908%2010.907%2010.907%200%200%200%20-10.906%20-10.908zm0%2016.359a5.453%205.453%200%201%201%205.453%20-5.451%205.452%205.452%200%200%201%20-5.453%205.451z%22%20class%3D%22cls-1%22%2F%3E%3C%2Fsvg%3E');background-repeat:no-repeat}
.icon-pink-view-dims{width:59px;height:34px}

i.icon-pink{
    display: block;
    width: 35px;
    height: 35px;
    background-size: 25px;
    position: absolute;
    top: 30px;
    left: 20px;
}

i.icon-pink.icon-pink-line-graphic,
i.icon-pink.icon-pink-cloud,
i.icon-pink.icon-pink-view,
i.icon-pink.icon-pink-code
{
    background-size: 35px;
}

i.icon-pink.icon-pink-bell{
    background-size: 29px;
}

// Белая иконка для списка
.icon-white-list-item,.icon-white-list-item\:regular{background-image:url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22156%22%20viewBox%3D%220%200%20156%20156%22%20height%3D%22156%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%20%7B%20%20%20%20%20%20%20%20fill%3A%20%23eee%3B%20%20%20%20%20%20%20%20fill-opacity%3A%200%3B%20%20%20%20%20%20%20%20stroke%3A%20%23eee%3B%20%20%20%20%20%20%20%20stroke-linejoin%3A%20round%3B%20%20%20%20%20%20%20%20stroke-width%3A%205px%3B%20%20%20%20%20%20%7D%20%20%20%20%20%20.cls-1%2C%20.cls-2%20%7B%20%20%20%20%20%20%20%20fill-rule%3A%20evenodd%3B%20%20%20%20%20%20%7D%20%20%20%20%20%20.cls-2%20%7B%20%20%20%20%20%20%20%20fill%3A%20%23fff%3B%20%20%20%20%20%20%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22m77.874%202.392l75.478%2075.479-75.476%2075.479-75.474-75.478z%22%2F%3E%3Cpath%20id%3D%22white-list-item-CODE%22%20d%3D%22m107.07%2078.055l-11.036%2011.045a2.756%202.756%200%200%201%20-3.9%20-3.9l9.1-9.1-9.075-9.074a2.756%202.756%200%201%201%203.9%20-3.9l10.88%2010.88a2.737%202.737%200%200%201%200.13%204.049zm-33.392%2018.281a2.761%202.761%200%201%201%20-5.178%20-1.928l14.7-38.588a2.761%202.761%200%201%201%205.173%201.928zm-8.926-29.319l-9.074%209.074%209.1%209.1a2.756%202.756%200%200%201%20-3.9%203.9l-11.041-11.033a2.736%202.736%200%200%201%200.129%20-4.061l10.88-10.88a2.756%202.756%200%201%201%203.9%203.9z%22%20class%3D%22cls-2%22%2F%3E%3C%2Fsvg%3E');background-repeat:no-repeat}
.icon-white-list-item-dims{width:156px;height:156px}