// Common styles of the project

html, body {
    height: 100%;
    background-color: $bg-color;
    font-size: $font-size;
    font-family: 'HomizioNova-regular';
    letter-spacing: 4px;
    color: $text-color;
}

// Элементы

.page__wrapper {
    min-height: 100%;
    width: $container-width;
    margin: 0 auto;
}

* html .page__wrapper {
    height: 100%;
}

.page__buffer {
    height: 50px;
}

.h2-title {
    font-size: $title-font-size;
}

.btn-default {
    font-size: $btn-font-size;
    border: 0;
    background-color: $pink-color;
    color: #fff;
    line-height: 118px;
    padding-left: 55px;
    padding-right: 55px;
    font-family: 'HomizioNova-regular';
    letter-spacing: 4px;
}

// Цвета

.pink-color {
    color: $pink-color;
}
.odd {
    background-color: $odd-color;
}
.even {
    background-color: $even-color;
}

// Позиционирование

.text-center {
    text-align: center;
}
.section-wrapper {
    width: $container-width;
    margin: 0 auto;
}