// File for scss-vars.
// For example: main colors, paddings and so on.

$bg-color: #ffffff;
$odd-color: $bg-color;
$even-color: #eeeeee;
$pink-color: #e83a93;
$text-color: #777777;
$container-width: 1815px / 2;
$font-size: 33.33px / 2;
$btn-font-size: 41.67px / 2;
$title-font-size: 66.67px / 2;
$letter-spacing: 2px;