// File for scss-vars.
// For example: main colors, paddings and so on.

$bg-color: #ffffff;
$white-color: #ffffff;
$odd-color: $bg-color;
$even-color: #eeeeee;
$pink-color: #e83a93;
$text-color: #777777;
$container-width: 910px;
$font-size: 16px;
$btn-font-size: 1.3em;
$title-font-size: 2em;
$letter-spacing: 2px;