<div class="footer">
    <div class="wrapper">
        <div class="soc-icons-wrapper">
            <ul class="soc-icons__list clearfix">
                <li class="soc-icons__list-item"><a href="#" class="soc-icons_link"><i
                        class="soc-icons footer-icons icon-facebook"></i></a></li>
                <li class="soc-icons__list-item"><a href="#" class="soc-icons_link"><i
                        class="soc-icons footer-icons icon-twitter"></i></a></li>
                <li class="soc-icons__list-item"><a href="#" class="soc-icons_link"><i
                        class="soc-icons footer-icons icon-dribble"></i></a></li>
            </ul>

            <p class="copyrights text-center">Copyright 2016 @s-get, All right reserved.</p>
        </div>
    </div>
</div>