<section class="latest-posts even">
    <section class="wrapper">
        <h2 class="latest-posts__title text-center h2-title">Latest <span class="pink-color">posts</span></h2>

        <ul class="list-posts">
            <li class="list-posts__item">
                <a href="#" class="list-posts__item-link">
                    <img class="list-posts__item-thumb" src="%=static=%img/assets/latestPosts/post-1.jpg" alt="">
                </a>
                <div class="list-posts__item-content-wrapper">
                    <h4 class="list-posts__item-content-title">Aliquam metus neque</h4>
                    <p class="list-posts__item-content-text">bibendum sit amet porta at, consequat et
                        enim. In ut turpis non ipsum rhoncus porttitor
                        vel ac nunc. Maecenas interdum dignissim
                        lorem quis auctor sit amet nulla nisl, aliquam
                        pretium ipsum.</p>

                    <div class="list-posts__item-meta-info">
                        <span class="list-posts__item-meta-time"><i class="small-icon icon-pink-posts-icons icon-time"></i> September 02</span>
                        <span class="list-posts__item-meta-comments"><i class="small-icon icon-pink-posts-icons icon-comment"></i> 19</span>
                    </div>
                </div>
            </li>
            <li class="list-posts__item">
                <a href="#" class="list-posts__item-link">
                    <img class="list-posts__item-thumb" src="%=static=%img/assets/latestPosts/post-2.jpg" alt="">
                </a>
                <div class="list-posts__item-content-wrapper">
                    <h4 class="list-posts__item-content-title">Aliquam metus neque</h4>
                    <p class="list-posts__item-content-text">bibendum sit amet porta at, consequat et
                        enim. In ut turpis non ipsum rhoncus porttitor
                        vel ac nunc. Maecenas interdum dignissim
                        lorem quis auctor sit amet nulla nisl, aliquam
                        pretium ipsum.</p>

                    <div class="list-posts__item-meta-info">
                        <span class="list-posts__item-meta-time"><i class="small-icon icon-pink-posts-icons icon-time"></i> September 02</span>
                        <span class="list-posts__item-meta-comments"><i class="small-icon icon-pink-posts-icons icon-comment"></i> 19</span>
                    </div>
                </div>
            </li>
            <li class="list-posts__item">
                <a href="#" class="list-posts__item-link">
                    <img class="list-posts__item-thumb" src="%=static=%img/assets/latestPosts/post-3.jpg" alt="">
                </a>
                <div class="list-posts__item-content-wrapper">
                    <h4 class="list-posts__item-content-title">Aliquam metus neque</h4>
                    <p class="list-posts__item-content-text">bibendum sit amet porta at, consequat et
                        enim. In ut turpis non ipsum rhoncus porttitor
                        vel ac nunc. Maecenas interdum dignissim
                        lorem quis auctor sit amet nulla nisl, aliquam
                        pretium ipsum.</p>

                    <div class="list-posts__item-meta-info">
                        <span class="list-posts__item-meta-time"><i class="small-icon icon-pink-posts-icons icon-time"></i> September 02</span>
                        <span class="list-posts__item-meta-comments"><i class="small-icon icon-pink-posts-icons icon-comment"></i> 19</span>
                    </div>
                </div>
            </li>
        </ul>

        <button class="btn-default btn-center">More posts</button>
    </section>
</section>
