.about-us {
    padding-top: 190px;
    padding-bottom: 270px;
}
.about-us__title {
    margin-bottom: 135px;
}
.about-us__subtitle {
    margin-bottom: 145px;
}
.about-us__content {
    width: 50%;
}
.about-us__carousel {
    width: 50%;
}
.about-us__content-item {
    margin-bottom: 100px;
}