<article class="about-us even">
    <div class="section-wrapper">
        <h2 class="about-us__title h2-title text-center">About <span class="pink-color">us</span></h2>
        <p class="about-us__subtitle text-center">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque totam rem aperiam, eaque ipsa 
        quae ab illo inventore veritatis et quasi architecto beat dicta sunt explicabo.</p>
    
        <section class="about-us__content">
            <p class="about-us__content-item">Suspendisse consequat nisl et consectetur hendrerit. Cras sit 
            amet turpis ut purus pellentesque ullamcorper sed ut nisl. In 
            sed vulputate libero. Nullam nec auctor elit, vitae mattis.</p>
            <p class="about-us__content-item">commodo. Suspendisse tincidunt orci ultrices, viverra mauris 
            a, tristique mauris. Curabitur pretium pellentesque risus, in 
            adipiscing tortor consequat id.</p>
            <button class="btn-default">Learn more</button>
        </section>
        <section class="about-us__carousel">
            {{> carousel/carousel }}
        </section>
    </div>
</article>
