<header class="header">
    <div class="header-wrapper">
        <div class="header-inner-wrapper">
            <div class="logo">
                <a href="#" class="logo-link">
                    <img class="logo-img" src="%=static=%img/assets/header/logo.png" alt="">
                </a>
            </div>

            <nav class="navbar">
                <ul class="navbar-list">
                    <li class="navbar-list__item">
                        <a href="#" class="navbar-list__item-link">
                            <i class="icon-header icon-header-i-mac"></i>
                            <span class="navbar-list__item-link-text">Our works</span>
                        </a>
                    </li>
                    <li class="navbar-list__item">
                        <a href="#" class="navbar-list__item-link">
                            <i class="icon-header icon-header-book"></i>
                            <span class="navbar-list__item-link-text">What we do</span>
                        </a>
                    </li>
                    <li class="navbar-list__item">
                        <a href="#" class="navbar-list__item-link">
                            <i class="icon-header icon-header-mail"></i>
                            <span class="navbar-list__item-link-text">Get in touch</span>
                        </a>
                    </li>
                    <li class="navbar-list__item">
                        <a href="#" class="navbar-list__item-link">
                            <i class="icon-header icon-header-uses"></i>
                            <span class="navbar-list__item-link-text">Our team</span>
                        </a>
                    </li>
                    <li class="navbar-list__item">
                        <a href="#" class="navbar-list__item-link">
                            <i class="icon-header icon-header-heart"></i>
                            <span class="navbar-list__item-link-text">About us</span>
                        </a>
                    </li>
                </ul>
            </nav>

            <nav class="soc-menu">
                <ul class="soc-menu-list">

                    <li class="soc-menu-list__item">
                        <a href="#" class="soc-menu-list__item-link">
                            <i class="icon-header-socmenu icon-header-socionsfacebook"></i>
                        </a>
                    </li>

                    <li class="soc-menu-list__item">
                        <a href="#" class="soc-menu-list__item-link">
                            <i class="icon-header-socmenu icon-header-socionstwitter"></i>
                        </a>
                    </li>

                    <li class="soc-menu-list__item">
                        <a href="#" class="soc-menu-list__item-link">
                            <i class="icon-header-socmenu icon-header-socionsvimeo"></i>
                        </a>
                    </li>

                    <li class="soc-menu-list__item">
                        <a href="#" class="soc-menu-list__item-link">
                            <i class="icon-header-socmenu icon-header-socionsskype"></i>
                        </a>
                    </li>

                    <li class="soc-menu-list__item">
                        <a href="#" class="soc-menu-list__item-link">
                            <i class="icon-header-socmenu icon-header-socionsgoogle-plus"></i>
                        </a>
                    </li>

                    <li class="soc-menu-list__item">
                        <a href="#" class="soc-menu-list__item-link">
                            <i class="icon-header-socmenu icon-header-socionsdribble"></i>
                        </a>
                    </li>

                </ul>
            </nav>
        </div>
    </div>
</header>