.adipiscing{
  width: 100%;
  height: auto;
  background: url(%=static=%assets/adipiscing/adipiscing-bg.jpg) no-repeat;
  background-size: cover;
}

.adipiscing-wrapper{
  width: 910px;
  margin: 0 auto;
  padding: 135px 0;
}

.adipiscing-mockup{
  width: 510px;
  float: left;
  margin-left: -60px;
}

.adipiscing__list-wrapper{
  width: 480px;
  margin-left: 510px;

}

.adipiscing__list-item{
  margin-bottom: 50px;
  color: #eeeeee;
  list-style: none;
  position: relative;
  text-shadow: 2px 1px 0 #333333;
}

.adipiscing__list-item__header{
  font-size: 1.625em;
}

.adipiscing__list-item__header::before{
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  background-image:url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22156%22%20viewBox%3D%220%200%20156%20156%22%20height%3D%22156%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%20%7B%20%20%20%20%20%20%20%20fill%3A%20%23eee%3B%20%20%20%20%20%20%20%20fill-opacity%3A%200%3B%20%20%20%20%20%20%20%20stroke%3A%20%23eee%3B%20%20%20%20%20%20%20%20stroke-linejoin%3A%20round%3B%20%20%20%20%20%20%20%20stroke-width%3A%205px%3B%20%20%20%20%20%20%7D%20%20%20%20%20%20.cls-1%2C%20.cls-2%20%7B%20%20%20%20%20%20%20%20fill-rule%3A%20evenodd%3B%20%20%20%20%20%20%7D%20%20%20%20%20%20.cls-2%20%7B%20%20%20%20%20%20%20%20fill%3A%20%23fff%3B%20%20%20%20%20%20%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22m77.874%202.392l75.478%2075.479-75.476%2075.479-75.474-75.478z%22%2F%3E%3Cpath%20id%3D%22white-list-item-CODE%22%20d%3D%22m107.07%2078.055l-11.036%2011.045a2.756%202.756%200%200%201%20-3.9%20-3.9l9.1-9.1-9.075-9.074a2.756%202.756%200%201%201%203.9%20-3.9l10.88%2010.88a2.737%202.737%200%200%201%200.13%204.049zm-33.392%2018.281a2.761%202.761%200%201%201%20-5.178%20-1.928l14.7-38.588a2.761%202.761%200%201%201%205.173%201.928zm-8.926-29.319l-9.074%209.074%209.1%209.1a2.756%202.756%200%200%201%20-3.9%203.9l-11.041-11.033a2.736%202.736%200%200%201%200.129%20-4.061l10.88-10.88a2.756%202.756%200%201%201%203.9%203.9z%22%20class%3D%22cls-2%22%2F%3E%3C%2Fsvg%3E');background-repeat:no-repeat;
  position: absolute;
  top: 5px;
  left: -80px;
  background-size: 50px;
}