<div class="adipiscing">
    <div class="adipiscing-wrapper">
        <img class="adipiscing-mockup" src="%=static=%img/assets/adipiscing/mocup.png" alt="">
        <ul class="adipiscing__list">
            <li class="adipiscing__list-item">
                <div class="adipiscing__list-item__header">Adipiscing tortor</div>
                <p class="adipiscing__list-item__text">Morbi condimentum leo sed sollicitudin pulvinar.
                    Phasellus rutrum interdum elit quis.</p>
            </li>
            <li class="adipiscing__list-item">
                <div class="adipiscing__list-item__header">Adipiscing tortor</div>
                <p class="adipiscing__list-item__text">Morbi condimentum leo sed sollicitudin pulvinar.
                    Phasellus rutrum interdum elit quis.</p>
            </li>
            <li class="adipiscing__list-item">
                <div class="adipiscing__list-item__header">Adipiscing tortor</div>
                <p class="adipiscing__list-item__text">Morbi condimentum leo sed sollicitudin pulvinar.
                    Phasellus rutrum interdum elit quis.</p>
            </li>
        </ul>
    </div>
</div>
