<section class="subscribe">
    <section class="wrapper">
        <h2 class="subscribe__title text-center h2-title">Subscribe <span class="pink-color">our</span> newsletter</h2>
        <div class="subscribe__description text-center">Sed ut perspiciatis unde omnis iste natus error sit <span class="pink-color">voluptatem accusantium</span></div>
        <div class="subscribe__form-wrapper">
            <form action="#" class="form-subscribe" method="post">
                 <div class="form-field-wrapper subscribe-input-wrapper">
                     <input type="email" class="input-text subscribe-input-email" placeholder="enter your email address" />
                 </div>
                 <button class="btn-default btn-center">Subscribe now</button>
            </form>
        </div>
    </section>
</section>