<section class="our-skills">
    <div class="section-wrapper">
        <h2 class="our-skills__title h2-title text-center">Our <span class="pink-color">skills</span></h2>
        <ul class="our-skills__list">
            <li class="our-skills__item">
                <div class="our-skills__round-slider" id="skill1"></div>
                <p class="text-center">Web-design</p>
            </li>
            <li class="our-skills__item">
                <div class="our-skills__round-slider" id="skill2"></div>
                <p class="text-center">Branding design</p>
            </li>
            <li class="our-skills__item">
                <div class="our-skills__round-slider" id="skill3"></div>
                <p class="text-center">Time management</p>
            </li>
            <li class="our-skills__item">
                <div class="our-skills__round-slider" id="skill4"></div>
                <p class="text-center">Creative cloud</p>
            </li>
            <li class="our-skills__item">
                <div class="our-skills__round-slider" id="skill5"></div>
                <p class="text-center">Web development</p>
            </li>
        </ul>
    </div>
</section>