<section class="get-in-touch">
    <div class="wrapper">
        <h2 class="h2-title text-center get-in-touch__title">Get in <span class="pink-color">touch</span></h2>
        <div class="get-in-touch__description text-center">Sed ut perspiciatis unde omnis iste natus error sit <span class="pink-color">voluptatem accusantium</span>.</div>
        <div class="get-in-touch__form-block">
            <form action="#" method="post" enctype="application/x-www-form-urlencoded" class="get-in-touch__form">
                <div class="get-in-touch__form-content-wrapper">
                    <div class="form-part">
                        <div class="form-field-wrapper required">
                            <input type="text" placeholder="Name" name="name" class="input-text get-in-touch__form-input-text ">
                        </div>
                        <div class="form-field-wrapper required">
                            <input type="email" placeholder="Email" name="email" class="input-text get-in-touch__form-input-text">
                        </div>
                        <div class="form-field-wrapper">
                            <input type="text" placeholder="Subject" name="subject" class="input-text get-in-touch__form-input-text">
                        </div>
                    </div>
                    <div class="form-part">
                        <div class="form-field-wrapper required">
                            <textarea name="message" id="" placeholder="Message" class="textarea-text get-in-touch__form-input-textarea"></textarea>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn-default btn-center">Submit</button>
            </form>
        </div>
    </div>
</section>