<section class="offers even">
    <section class="wrapper">
        <h2 class="offers__title text-center h2-title">Special <span class="pink-color">offers</span></h2>

        <ul class="list-offers">
            <li class="list-offers__item">
                <div class="list-offers__item_wrapper">
                    <div class="offer-title">Standart</div>
                    <div class="offer-price">$39.99</div>
                    <ul class="offer-item__description-list">
                        <li class="offer-item__description-item">Duis mi dolor, fermentum</li>
                        <li class="offer-item__description-item">scelerisque mattis sit amet.</li>
                        <li class="offer-item__description-item">condimentum sit amet nunc.</li>
                        <li class="offer-item__description-item">Cras eros felis.</li>
                        <li class="offer-item__description-item">tristique sed sagittis id.</li>
                    </ul>
                    <button class="btn-default btn-darken btn-center">Take a plane</button>
                </div>
            </li>
            <li class="list-offers__item">
                <div class="list-offers__item_wrapper">
                    <div class="offer-title">The best</div>
                    <div class="offer-price">$59.99</div>
                    <ul class="offer-item__description-list">
                        <li class="offer-item__description-item">Duis mi dolor, fermentum</li>
                        <li class="offer-item__description-item">scelerisque mattis sit amet.</li>
                        <li class="offer-item__description-item">condimentum sit amet nunc.</li>
                        <li class="offer-item__description-item">Cras eros felis.</li>
                        <li class="offer-item__description-item">tristique sed sagittis id.</li>
                    </ul>
                    <button class="btn-default btn-darken btn-center">Take a plane</button>
                </div>
            </li>
            <li class="list-offers__item">
                <div class="list-offers__item_wrapper">
                    <div class="offer-title">Premium</div>
                    <div class="offer-price">$89.99</div>
                    <ul class="offer-item__description-list">
                        <li class="offer-item__description-item">Duis mi dolor, fermentum</li>
                        <li class="offer-item__description-item">scelerisque mattis sit amet.</li>
                        <li class="offer-item__description-item">condimentum sit amet nunc.</li>
                        <li class="offer-item__description-item">Cras eros felis.</li>
                        <li class="offer-item__description-item">tristique sed sagittis id.</li>
                    </ul>
                    <button class="btn-default btn-darken btn-center">Take a plane</button>
                </div>
            </li>
        </ul>
    </section>
</section>