.services{
  width: 100%;
  height: auto;
  position: relative;
  background: $bg-color;
}

.services-wrapper{
  width: 910px;
  margin: 0 auto;
  padding: 95px 0 135px;
}

.services__title{
  margin-bottom: 65px;
}

.services__description{
  margin-bottom: 65px;
}

.services__list-service{
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.services__list-item{
  width: 25%;
  padding-left: 70px;
  position: relative;
}

.service-header{
  display: block;
  clear: both;
}

.service-header{
  font-size: 1.625em;
  margin-bottom: 20px;
}

i.icon-pink{
  display: block;
  width: 35px;
  height: 35px;
  background-size: 25px;
  position: absolute;
  top: 30px;
  left: 20px;
}

i.icon-pink.icon-pink-line-graphic,
i.icon-pink.icon-pink-cloud,
i.icon-pink.icon-pink-view,
i.icon-pink.icon-pink-code
{
  background-size: 35px;
}

i.icon-pink.icon-pink-bell{
  background-size: 29px;
}