<section class="services">
    <section class="wrapper">
        <h2 class="services__title text-center h2-title">Ser<span class="pink-color">vi</span>ces</h2>
        <div class="services__description text-center">Sed ut perspiciatis unde omnis iste natus error sit <span class="pink-color">voluptatem accusantium</span>.</div>
        <ul class="services__list-service">
            <li class="services__list-item">
                <i class="icon-pink icon-pink-line-graphic"></i>
                <h3 class="service-header">Adipiscing tortor</h3>
                <p class="service-item-description">Morbi condimentum leo sed sollicitudin pulvinar. Phasellus rutrum interdum elit quis.</p>
            </li>
            <li class="services__list-item">
                <i class="icon-pink icon-pink-cloud"></i>
                <h3 class="service-header">Adipiscing tortor</h3>
                <p class="service-item-description">Morbi condimentum leo sed sollicitudin pulvinar. Phasellus rutrum interdum elit quis.</p>
            </li>
            <li class="services__list-item">
                <i class="icon-pink icon-pink-pin"></i>
                <h3 class="service-header">Adipiscing tortor</h3>
                <p class="service-item-description">Morbi condimentum leo sed sollicitudin pulvinar. Phasellus rutrum interdum elit quis.</p>
            </li>
            <li class="services__list-item">
                <i class="icon-pink icon-pink-bell"></i>
                <h3 class="service-header">Adipiscing tortor</h3>
                <p class="service-item-description">Morbi condimentum leo sed sollicitudin pulvinar. Phasellus rutrum interdum elit quis.</p>
            </li>
            <li class="services__list-item">
                <i class="icon-pink icon-pink-view"></i>
                <h3 class="service-header">Adipiscing tortor</h3>
                <p class="service-item-description">Morbi condimentum leo sed sollicitudin pulvinar. Phasellus rutrum interdum elit quis.</p>
            </li>
            <li class="services__list-item">
                <i class="icon-pink icon-pink-code"></i>
                <h3 class="service-header">Adipiscing tortor</h3>
                <p class="service-item-description">Morbi condimentum leo sed sollicitudin pulvinar. Phasellus rutrum interdum elit quis.</p>
            </li>
        </ul>
    </section>
</section>
