<section class="our-team">
    <section class="wrapper">
        <h2 class="our-team__title h2-title text-center">Our <span class="pink-color">team</span></h2>
        <ul class="list-our-team clearfix">
            <li class="our-team__item">
                <div class="our-team__item-wrapper">
                    <div class="our-team__item-thumb-wrapper">
                        <div class="item-thumb-inner-wrapper"><img class="our-team__item-thumb"
                                                                   src="%=static=%img/assets/ourTeam/team-1.jpg" alt="">
                        </div>
                    </div>
                    <div class="our-team__item-name pink-color">CEO / Founder</div>
                </div>
            </li>
            <li class="our-team__item">
                <div class="our-team__item-wrapper">
                    <div class="our-team__item-thumb-wrapper">
                        <div class="item-thumb-inner-wrapper"><img class="our-team__item-thumb"
                                                                   src="%=static=%img/assets/ourTeam/team-2.jpg" alt="">
                        </div>
                    </div>
                    <div class="our-team__item-name pink-color">Manager</div>
                </div>
            </li>
            <li class="our-team__item">
                <div class="our-team__item-wrapper">
                    <div class="our-team__item-thumb-wrapper">
                        <div class="item-thumb-inner-wrapper"><img class="our-team__item-thumb"
                                                                   src="%=static=%img/assets/ourTeam/team-3.jpg" alt="">
                        </div>
                    </div>
                    <div class="our-team__item-name pink-color">Web developer</div>
                </div>
            </li>
            <li class="our-team__item">
                <div class="our-team__item-wrapper">
                    <div class="our-team__item-thumb-wrapper">
                        <div class="item-thumb-inner-wrapper"><img class="our-team__item-thumb"
                                                                   src="%=static=%img/assets/ourTeam/team-4.jpg" alt="">
                        </div>
                    </div>
                    <div class="our-team__item-name pink-color">Web designer</div>
                </div>
            </li>
        </ul>
    </section>
</section>