<section class="carousel">
    <ul class="carousel__list">
        <li class="carousel__item"><img src="http://placehold.it/400x200" alt="" class="carousel__image"></li>
        <li class="carousel__item"><img src="http://placehold.it/400x200" alt="" class="carousel__image"></li>
        <li class="carousel__item"><img src="http://placehold.it/400x200" alt="" class="carousel__image"></li>
        <li class="carousel__item"><img src="http://placehold.it/400x200" alt="" class="carousel__image"></li>
    </ul>
    <div class="carousel__controls">
        <a href="" class="carousel__button carousel__left"><</a>
        <a href="" class="carousel__button carousel__right">></a>
    </div>
</section>