<section class="carousel" id="carousel">
    <div class="carousel__inner">
        <ul class="carousel__list">
            <li class="carousel__item"><img src="http://placehold.it/450x320?text=one" alt="" class="carousel__image"></li>
            <li class="carousel__item"><img src="http://placehold.it/450x320?text=two" alt="" class="carousel__image"></li>
            <li class="carousel__item"><img src="http://placehold.it/450x320?text=three" alt="" class="carousel__image"></li>
            <li class="carousel__item"><img src="http://placehold.it/450x320?text=four" alt="" class="carousel__image"></li>
        </ul>
    </div>
    <div class="carousel__controls">
        <a href="#" class="carousel__button carousel__left"><span><</span></a>
        <a href="#" class="carousel__button carousel__right"><span>></span></a>
    </div>
</section>