<section class="carousel about-us__carousel" id="carousel">
    <div class="carousel__inner">
        <ul class="carousel__list">
            <li class="carousel__item"><img src="static/img/content/slider-img.png" alt="" class="carousel__image"></li>
            <li class="carousel__item"><img src="http://placehold.it/450x320?text=two" alt="" class="carousel__image"></li>
            <li class="carousel__item"><img src="http://placehold.it/450x320?text=three" alt="" class="carousel__image"></li>
            <li class="carousel__item"><img src="http://placehold.it/450x320?text=four" alt="" class="carousel__image"></li>
        </ul>
    </div>
</section>